<%
  fillings = ["Pumpkins", "Ghost","Ghoullllssss","What do you think of my website"]
%>

<h1 style="color: Orange;">Haloween Tacos</h1></h1>
<p>Pumpkins are coming</p>


<ul>
  <% for filling in fillings %>
    <li><%= filling %></li>
    <% end %>
</ul>

 