<%
  fillings = ["Pumpkins", "Ghost","Ghoullllssss"]


%>

<h1 style="color: Orange;">Haloween Tacos</h1></h1>
<p>Pumpkins are coming</p>


<ul>
  <li><%= fillings[0] %></li>
  <li><%= fillings[1] %></li>
  <li><%= fillings[2] %></li>
</ul>

 